# 가상 환경
.venv/
__pycache__/

# 환경 변수 파일
.env

# 캐시 파일
*.pyc

# Jupyter Notebook 체크포인트
.ipynb_checkpoints/

# 로그 파일
*.log

# 개인 설정 파일
pyvenv.cfg

# PDF 파일 (필요에 따라 주석 처리)
# *.pdf

# 기타 불필요한 파일
.DS_Store

.file/
.myprojectenv/